vue3/vue3-escuela-vuex/.DS_Store
vue3/vue3-escuela-vuex/node_modules
vue3/vue3-escuela-vuex//dist


# local env files
vue3/vue3-escuela-vuex/.env.local
vue3/vue3-escuela-vuex/.env.*.local

# Log files
vue3/vue3-escuela-vuex/npm-debug.log*
vue3/vue3-escuela-vuex/yarn-debug.log*
vue3/vue3-escuela-vuex/yarn-error.log*
vue3/vue3-escuela-vuex/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
